body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.weather-app {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header,
.location,
.current-weather {
  text-align: center;
  margin-top: 10px;
}

.temperature {
  font-size: 36px;
  font-weight: bold;
}

.forecast {
  margin-top: 20px;
}

.day {
  border-top: 1px solid #ccc;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.button-container .location-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b3e751;
  color: white;
  transition: background-color 0.3s ease;
}

.button-container .icon-button {
  padding: 10px 15px;
  cursor: pointer;
  margin-left: 5px;
}

.button-container .icon-button.blue {
  background-color: #72b2f7;
}

.button-container .icon-button.red {
  background-color: #e65f6c;
}

.location-button:hover,
.icon-button.blue:hover,
.icon-button.red:hover {
  background-color: #646d64;
}

.button-container .icon-button img {
  width: 15px;
  height: 15.5px;
  margin-right: 0px;
}

#edit_form,
#dataID,
#labelDataID {
  display: none;
}

.login-container {
  max-width: 400px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  background-color: #ffa600;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #646d64;
}
